@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
    height: 100vh;
    width: 100vw;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
