@import "./variables.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--ant-color-primary);
  color: var(--ant-color-text-primary);
  font-family: var(--ant-font-family);
  transition: all 0.3s;
  height: 100vh;
  width: 100vw;
}
