:root {
  --global-bg: f0f2f5;
  --global-padding: 0.25rem; /* 对应 p-1 */

  --content-padding: 1rem; /* 对应 p-4 */

  /* 圆角 */
  --radius-xs: clamp(1px, 0.2vw, 2px);
  --radius-sm: clamp(2px, 0.4vw, 4px);
  --radius-md: clamp(4px, 0.8vw, 8px);
  --radius-lg: clamp(8px, 1.6vw, 16px);
  --radius-xl: clamp(12px, 2.4vw, 24px);
  --radius-full: 9999px;
}
