/* form 宽 */
.login-form {
  width: 100%;
  max-width: 420px;
}

/* form 整体 */
.login-form__card {
  background: #fff;
  border-radius: 8px;
  padding: 28px;
}

/* form 标题 */
.login-form__title {
  margin: 0 0 20px 0;
  font-size: 20px;
  /* font-weight: 600; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #111827;
}
